#image-padding {
	height: 100vh;
}
#selfie {
	width: 100%;
	height: 80vh;
	background-image: url("../media/selfie.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 100% auto;
}
#content {
	width: 100%;
	padding-left: 15px;
	text-align: justify;
}
#menu {
	overflow: hidden;
	z-index: 1;
	padding: 0;
	text-align: center;
}
.menu-icon {
	font-size: 25px;
}
.h-black:hover {
	color: black;
}
.h-blue:hover {
	color: blue;
}
.h-purple:hover {
	color: purple;
}
.accordion-button:not(.collapsed) {
	color: white;
	background-color: black;
}
#output {
	margin: auto;
	height: 180px;
	width: 240px;
	border: solid black;
	background-image: url("../media/project-one.png");
}
.projects input {
	appearance: none;
}
.projects img {
	border: solid transparent;
}
.projects input:checked+img {
	border: solid black;
}
#email-link, #email-link:hover, #email-link:visited {
	text-decoration: none;
	color: black;
}