@media screen and (min-width: 1200px) and (min-height: 850px){
	body {
		background-image: url("../media/selfie.jpg");
		background-repeat: no-repeat;
		background-position: right top;
	}
	#wrapper {
		height: 100vh;
	}
	#content {
		padding-left: 15px;
		text-align: justify;
	}
	#menu {
		padding: 0;
		text-align: center;
	}
	.menu-icon {
		font-size: 25px;
	}
	.h-black:hover {
		color: black;
	}
	.h-blue:hover {
		color: blue;
	}
	.h-purple:hover {
		color: purple;
	}
}